<!-- wp:pattern {"slug":"love-nature/hero-section"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2em","bottom":"2em"}}},"layout":{"type":"constrained","contentSize":"1200px"},"metadata":{"name":"Content"}} -->
<main class="wp-block-group" style="padding-top:2em;padding-bottom:2em"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-title /-->

<!-- wp:post-content /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"love-nature/footer-section"} /-->