<!-- wp:pattern {"slug":"love-nature/hero-section"} /-->
<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"backgroundColor":"custom-text","className":"has-custom-background-background-color","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-custom-background-background-color has-custom-text-background-color has-background" style="padding-top:2rem;padding-bottom:2rem"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","overlayColor":"primary"} /-->

<!-- wp:post-title {"style":{"typography":{"fontSize":"20px"}}} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-author-name /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"style":{"typography":{"fontSize":"16px"}}} /--></main>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"love-nature/footer-section"} /-->